<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <context id="DB2Tables"    targetRuntime="MyBatis3">
        <commentGenerator>
            <property name="suppressDate" value="true"/>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>
        <!--数据库链接地址账号密码-->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://134.175.132.161:3306/sharenotes_dev?characterEncoding=UTF-8"
                        userId="sharenotes_dev"
                        password="YwbTrt5C8LFxXXbm" >
        </jdbcConnection>
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>
        <!--生成Model类存放位置-->
        <javaModelGenerator targetPackage="cn.sharenotes.db.domain" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>
        <!--生成映射文件存放位置-->
        <sqlMapGenerator targetPackage="mapper" targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>
        <!--生成Dao类存放位置-->
        <!-- 客户端代码，生成易于使用的针对Model对象和XML配置文件 的代码
                type="ANNOTATEDMAPPER",生成Java Model 和基于注解的Mapper对象
                type="MIXEDMAPPER",生成基于注解的Java Model 和相应的Mapper对象
                type="XMLMAPPER",生成SQLMap XML文件和独立的Mapper接口
        -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="cn.sharenotes.db.mapper" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>
        
<!--        &lt;!&ndash; table指定每个表的生成策略 &ndash;&gt;-->
<!--        <table tableName="admin" domainObjectName="Admin"></table>-->
<!--        <table tableName="categories" domainObjectName="Categories"></table>-->
<!--        <table tableName="comments" domainObjectName="Comments"></table>-->
<!--        <table tableName="logs" domainObjectName="Logs"></table>-->
<!--        <table tableName="menus" domainObjectName="Menus"></table>-->
<!--        <table tableName="msg_request" domainObjectName="MsgRequest"></table>-->
<!--        <table tableName="posts" domainObjectName="Posts"></table>-->
<!--        <table tableName="post_categories" domainObjectName="PostCategories"></table>-->
<!--        <table tableName="sys_msg" domainObjectName="SysMsg"></table>-->
<!--        <table tableName="sys_msg_log" domainObjectName="SysMsgLog"></table>-->
<!--        <table tableName="tb_search_history" domainObjectName="TbSearchHistory"></table>-->
<!--        <table tableName="user" domainObjectName="User"></table>-->
<!--        <table tableName="user_formid" domainObjectName="UserFormid"></table>-->
<!--        <table tableName="user_groups" domainObjectName="UserGroups"></table>-->

    </context>

</generatorConfiguration>